
* {
    box-sizing: border-box;
   
}

body{
    background-image: url(./background.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: #ebebeb;
    text-align: center;
    color:  #252525;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    height: 100px;
}

.head-line {
    font-size: 28px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; 
}

@keyframes moveUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.Lives {
    line-height: 120px;
    margin-right: auto;
    margin-left: 5%; 
    animation: moveUpDown 2s infinite;
}

.timer {
    margin-left: 5%; 
    line-height: 120px;
}

.new-game {
    margin-right: 32%; 
}

.new-game:hover{
    cursor: pointer;
}

table {
    margin: auto;
    background-color: rgba(37, 37, 37, 0.93);
    width: 300px;
    height: 300px;
    font-size: 24px;
    padding: 7px;
    border-radius: 4%;
    -webkit-box-shadow: 0px 0px 35px 18px rgb(43, 63, 72);
-moz-box-shadow: 0px 0px 35px 18px rgba(43, 63, 72,1);
box-shadow: 0px 0px 35px 18px rgba(43, 63, 72,1);
  }
  
table td {
    border: 3px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: -1;
    border-radius: 8%;
    background-color: #CCA152
}

table td:hover{
    cursor: pointer;
}

.hidden{
    background-color: #CCA152;
    color: transparent;
    z-index: 0;
    transition: background-color 0.3s ease;
    
}

.hidden:hover{
    background-color: #f1c675;
}

button {
    background-color:#F6923D;
    color: #ffdda9;
    font-weight: bold;
    width: 70px ;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
}

button:hover{
    background-color: rgb(252, 164, 105);
    cursor: pointer;
    transform: translateY(-5px);
}

.isFlagged{
    background-color:#F3F4EE;
    z-index: 1;
}

.isFlagged:hover{
    background-color:#F3F4EE;
}

.bottom{
    margin-top: 30px;
    display: inline-block;
    font-size: 18px;
    padding: 2px;
    border-radius: 10%;
    transition: background-color 0.3s ease;
}

.bottom:hover{
    background-color: rgba(255, 208, 107, 0.5);
    cursor:default;
}