
* {
    box-sizing: border-box;
}

body{
    background-color: #252525;
    text-align: center;
    color: #F3F4EE;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head-line{
    font-size: 24px;
    margin-top: 50px;
    display: flex;
   
}

.Lives{
    margin-right: auto;

}

.new-game{
    margin-right: 50px;
    /* transition: transform 1s; */
}

.timer{
   text-align: center;
    margin-left: auto;
}

.new-game:hover{
    /* transform: translateY(-5px) ; */
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 50px;
    background-color: rgb(104, 104, 104);
    width: 300px;
    height: 300px;
    font-size: 24px;
    padding: 5px;
  }
  
  table td {
    /* opacity: 0; */
    border: 3px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: -1;
 
}

table td:hover{
    cursor: pointer;

}

.hiddin{
    background-color: #CCA152;;
    color: transparent;
}

button {
    background-color:#F6923D;
    color: #ffdda9;
    font-weight: bold;
    width: 70px ;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
}

button:hover{
    background-color: rgb(252, 164, 105);
    cursor: pointer;
    transform: translateY(-5px);
}
