* {
    box-sizing: border-box;

}

body {
    transition: all 0.8s ease;
    /* background-image: url(./background.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ebebeb;
    text-align: center;
    color: #252525;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 100px;
}

.head-line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    margin-top: 10px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.Lives {
    animation: moveUpDown 2s infinite;

}

.new-game:hover {
    cursor: pointer;
}

table {
    transition: all 0.5s ease;
    margin: auto;
    background-color: rgba(37, 37, 37, 0.93);
    width: 300px;
    height: 300px;
    font-size: 24px;
    padding: 7px;
    border-radius: 4%;
    -webkit-box-shadow: 0px 0px 35px 18px rgb(43, 63, 72);
    -moz-box-shadow: 0px 0px 35px 18px rgba(43, 63, 72, 1);
    box-shadow: 0px 0px 35px 18px rgba(43, 63, 72, 1);
}

table td {
    border: 3px solid rgb(0, 0, 0);
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 0;
    border-radius: 8%;
    background-color: #CCA152
}

@media (max-width: 500px) {
    table {
        font-size: 16px;
        padding: 5px;
    }

    table td {
        min-width: 25px;
        height: 25px;
        font-size: 14px;
    }
}

table td:hover {
    cursor: pointer;
}

.hidden {
    background-color: #CCA152;
    color: transparent;
    transition: background-color 0.3s ease;

}

.hidden:hover {
    background-color: #f1c675;
}

button {
    background-color: #F6923D;
    color: #ffdda9;
    font-weight: bold;
    width: 70px;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(252, 164, 105);
    cursor: pointer;
    transform: translateY(-5px);
}

.isFlagged {
    background-color: #F3F4EE;

}

.isFlagged:hover {
    background-color: #F3F4EE;
}

.bottom {
    margin-top: 30px;
    display: inline-block;
    font-size: 18px;
    padding: 2px;
    border-radius: 10%;
    transition: background-color 0.3s ease;
}

.bottom:hover {
    background-color: rgba(255, 208, 107, 0.5);
    cursor: default;
}



.darktable {
    transition: all 0.5s ease;
    background-color: rgba(25, 25, 112, 0.90);
    -webkit-box-shadow: 0px 0px 54px 25px rgba(22, 30, 64, 1);
    -moz-box-shadow: 0px 0px 54px 25px rgba(22, 30, 64, 1);
    box-shadow: 0px 0px 54px 25px rgba(22, 30, 64, 1);

}